* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;

}

#banner_section {
    background-image: linear-gradient(transparent, rgba(0, 0, 0, .9)), url("../images/donation13.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 90px 0;
    color: white;
}

h2 {
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-size: 35px;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: #707070;
}

a {
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    color: white;
    background-color: #FF5959;
    padding: 9px 14px;
    border-radius: 3px;
    font-size: 14px;
    display: inline-block;
}

.button-div {
    text-align: center;
}

#banner_section .col-md-7 {
    width: 45%;
    margin: auto;
    text-align: center;
}

#banner_section h1 {
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-size: 41px;
}



#banner_section p {
    font-family: 'Poppins', sans-serif;
    color: white;
}

#banner_section a {
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    color: white;
    background-color: #FF5959;
    padding: 9px 14px;
    border-radius: 3px;
    font-size: 14px;
    display: inline-block;
    margin-top: 14px;
}

#donate-today {
    padding: 95px 0;
}

#donate-today .col-md-7 {
    width: 55%;
    margin: auto;

}

#donate-today .center {
    text-align: center;
}

#donate-today .div-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 48px 0 8px 0;
}

#donate-today .col {
    background-color: #FAFAFA;
    padding: 40px 0px;
    width: 18%;
    margin: 0 8px;
    color: #818181;
    font-family: 'Inter', sans-serif;
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    border-radius: 7px;
}

#donate-today .col:hover {
    background-color: #FFEEEE;
    border: 2px solid #FF5959;
}

#donate-today input {
    width: 100%;
    padding: 12px 20px;
    margin: 30px 0;
    display: inline-block;
    border: unset;
    border-bottom: 1px solid #e1deded6;
    color: #B3B3B3;
    font-size: 16px;
    text-align: center;
}

#donate-today input:focus {
    outline: 0;
    box-shadow: 0;
}

#donate-plan {
    padding: 0 0 95px 0;
}

#donate-plan .col-md-7 {
    width: 55%;
    margin: auto;

}

#donate-plan .center {
    text-align: center;

}