* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;

}

#banner_section {
    background-image: linear-gradient(transparent, rgba(0, 0, 0, .9)), url("../images/donation13.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 90px 0;
    color: white;
}

h2 {
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-size: 35px;
}

h3 {
    margin: 0;
    font-family: 'Inter', sans-serif;
    margin-top: 25px;
    margin-bottom: 12px;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #707070;
}

a {
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    color: white;
    background-color: #FF5959;
    padding: 9px 14px;
    border-radius: 3px;
    font-size: 14px;
    display: inline-block;
}

.button-div {
    text-align: center;
}

#banner_section .col-md-7 {
    width: 45%;
    margin: auto;
    text-align: center;
}

#banner_section h1 {
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-size: 41px;
}



#banner_section p {
    font-family: 'Poppins', sans-serif;
    color: white;
}

#banner_section a {
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    color: white;
    background-color: #FF5959;
    padding: 9px 14px;
    border-radius: 3px;
    font-size: 14px;
    display: inline-block;
    margin-top: 14px;
}

#donate-today {
    padding: 95px 0;
}

#donate-today .col-md-7 {
    width: 55%;
    margin: auto;

}

#donate-today .center {
    text-align: center;
}

#donate-today .div-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 48px 0 8px 0;
}

#donate-today .col {
    background-color: #FAFAFA;
    padding: 40px 0px;
    width: 18%;
    margin: 0 8px;
    color: #818181;
    font-family: 'Inter', sans-serif;
    font-size: 140%;
    font-weight: 600;
    border-radius: 7px;
    display: flex;
    justify-content: center;
}

#donate-today .col:hover {
    background-color: #FFEEEE;
    border: 2px solid #FF5959;
}

#donate-today input {
    width: 100%;
    padding: 12px 20px;
    margin: 30px 0;
    display: inline-block;
    border: unset;
    border-bottom: 1px solid #e1deded6;
    color: #B3B3B3;
    font-size: 16px;
    text-align: center;
}

#donate-today input:focus {
    outline: 0;
    box-shadow: 0;
}

#donate-plan {
    padding: 0 0 50px 0;
}

#donate-plan .col-md-7 {
    width: 55%;
    margin: auto;

}

#donate-plan .center {
    text-align: center;

}

#donate-plan .planning-row {

    padding: 20px 100px 0;


}

#donate-plan .planning-row .planning-custom {
    display: flex;
    justify-content: space-between;

}

#donate-plan .col-md-4 {
    width: 35%;
    padding: 20px;
}

#donate-plan .custom {
    padding: 30px;
    /* margin: 0 1%; */
    border-radius: 5px;
    padding-bottom: 40px;
    padding-top: 0;
}

#donate-plan .sky-blue .custom {
    background-color: #EDF5F6;
}

#donate-plan .lite-pink .custom {
    background-color: #FFEEEE;
}


#donate-plan .lite-orange .custom {
    background-color: #FFF4D6;
}


#donate-plan .custom p {
    margin: 0;
}

#donate-plan .icon {
    font-size: 45px;
}

#donation {
    padding: 0 135px 78px;
}

#donation .row {
    display: flex;
}

#donation .row .col-md-6 {
    width: 50%;
}


.text-div {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
}

#donation .row .col-md-6 .m-hide {
    margin-top: 0;
    margin-bottom: 22px;
}

#donation .row .col-md-6 img {
    max-width: 100%;
    border-radius: 5px;
}

#donation .row .col-md-6 .image-custom {
    padding-left: 60px;

}


#suvive {
    padding: 0 135px 30px;
}

#suvive .row {
    display: flex;
}

#suvive .row .col-md-6 {
    width: 50%;
}

#donation .row .col-md-6 .m-hide {
    margin-top: 0;
    margin-bottom: 22px;
}

#suvive .row .col-md-6 img {
    max-width: 100%;
    border-radius: 5px;
}

#suvive .row .col-md-6 .image-custom {
    padding-left: 60px;
}


#update {
    padding: 40px 135px 30px;
}

#update .row {
    display: flex;
    justify-content: center;
}

#update .row .col-md-7 {
    width: 60%;
    text-align: center;
}

#update .form-row .col-md-7 {
    width: 60%;
    margin: auto;

}

#update .form-row .col-md-7 .form-row-child {
    padding: 50px;
    background-color: #FFF4D6;
    border-radius: 5px;
    margin-top: 25px;
    margin-bottom: 60px;
}

#update .form-row input {
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    color: #AA9F9F;
    background-color: #D9D9D9;
    padding: 9px 14px;
    font-size: 14px;
    display: inline-block;
    border: 0;
    border-radius: 5px 0 0 5px;
}

#update .form-row a {
    border-radius: unset;
    border-radius: 0 5px 5px 0;
}

#update .form-row input:focus {
    outline: 0;
    box-shadow: 0;
}

footer {
    background-color: black;
}

footer h1 {
    font-family: 'Lobster', cursive;
    color: #FF5959;
    margin-bottom: 13px;
}

footer p {
    font-family: 'Manrope', sans-serif;
    color: #D9DBE1;
    margin-bottom: 24px;
    margin-top: 0;
    font-size: 13px;
}


footer .col-md-6 {
    width: 50%;
    margin: auto;
    text-align: center;
    padding: 15px 0;
}